server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/multi_user_blog_db_local?useSSL=false&serverTimezone=UTC
    username: root
    password: Clara/Bliss.0920
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  jackson:
    property-naming-strategy: SNAKE_CASE

jwt:
  secret: 9=9UX#X-Q3-k_8^mcw%:GPPzHQaXW5uu
  expiration: 86400000  # 1 day in ms

logging:
  level:
    org:
      springframework: INFO
